body {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

ul {
  width: 100%;
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  cursor: pointer;
}

li a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

ul a {
  display: inline-block;
  margin-right: 10px;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.part a {
  color: black;
}

.main {
  background-image: url("/Images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.circle {
  width: 220px;
  height: 220px;
  background-image: url(/Images/center.PNG);
  background-size: contain;
  background-position: center;
  border: none;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 80%;
  left: 47.5%;
  transform: translate(-45%, -60%);
  -webkit-transform: translate(-45%, -60%);
  -moz-transform: translate(-45%, -60%);
  -ms-transform: translate(-45%, -60%);
  -o-transform: translate(-45%, -60%);
}

.part {
  position: absolute;
  height: 400px;
  width: 400px;
}

.part img {
  max-width: 100%;
  height: auto;
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}
.part:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 9999;
}

.part p {
  position: absolute;
  bottom: 40%;
  left: 20%;
  z-index: 9999;
  font-size: 2.3rem;
  font-weight: 400;
  width: 140px;
  text-align: center;
}
.small-part {
  width: 410px;
  height: 300px;
  position: absolute;
  z-index: 5;
}
.small-part img {
  width: 100%;
}
.part-1 {
  bottom: -3%;
  right: 8%;
}
.part-1 p {
  bottom: 38%;
  left: 18%;
}
.part-2 {
  bottom: 27%;
  right: 23%;
}

.part-2 p {
  bottom: 23%;
  left: 38%;
}
.part-3 {
  bottom: 46%;
  right: 37%;
}
.part-3 p {
  bottom: 15%;
  left: 30%;
  width: 180px;
}
.part-4 {
  bottom: 27%;
  left: 17.5%;
}
.part-4 p {
  bottom: 30%;
  left: 30%;
  width: 180px;
}
.part-5 {
  bottom: 2%;
  left: 7%;
}
.part-5 p {
  bottom: 30%;
  left: 35%;
  width: 180px;
}

/*  Small Parts */
.small-part-1 {
  bottom: 42%;
  right: 10%;
  transform: rotate(-5deg);
}
.small-part-2 {
  bottom: 65%;
  right: 28%;
}
.small-part-3 {
  bottom: 57%;
  left: 24%;
}
.small-part-4 {
  bottom: 36%;
  left: 8%;
}

.btn-in {
  color: white;
  font-weight: bold;
  background-color: #fca91e;
  border-radius: 1em;
  margin-bottom: 1em;
}
.btn-in:hover {
  background-color: #fca91e;
}
