* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.gb-color{
  background-color: #1e0c08;

}

.navbar {
  margin-bottom: 0;
}
.nav-link, .navbar-brand,.dropdown-item,.nav-link.dropdown-toggle{
  color: white;
  font-size: 2.1rem;
  text-decoration: none;
}

.nav-link:hover, .navbar-brand:hover{
  color: #fca91e;
  text-decoration: none;
}

.navbar-toggler,.dropdown-item:hover{
  background-color: #fca91e;
  text-decoration: none;

}

.dropdown-menu{
  background-color: #1e0c08;
  text-decoration: none;
}
.dx {
  margin-top: 1em;
  justify-content: space-between;
}

.ff {
  position: relative;
  text-align: center;
  color: white;
  
}
/* .row {
  max-width: 101%;
} */
.txt {
  position: absolute;
  top: 30px;
  left: 16px;
}

.image-header {
  width: 100%;
  height: 30em;
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 35%;
  left: 38%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1.2em;
  border-radius: 2em;
  text-align: center;
}

.overlay-text h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.overlay-text p {
  font-size: 1.8rem;
}

.first-col,.second-col,.thrd-col,.fourth-col{
  margin-bottom: 1em;
  border-radius: 10%;
  padding: 1rem;
}

.first-col{
   background-color: #8f86779e;
  }

.second-col{
  background-color: #c3bbb19e;
}

.thrd-col{
  background-color: #e7ded19e;
}
.fourth-col{
  background-color: #f4f4f3;
}
